.d1 {
    margin-top: 20px;
    border-style: solid;
    border-color: rgb(117, 117, 117);
    width: 30%;
    height: 500px;
    margin-left: 35%;
    box-shadow: rgb(131, 131, 131) 0px 0px 20px 2px;
    outline: none;
    overflow-y: scroll;
}

.t1 {
    margin-left: 35%;
    height: 30px;
    font-family: Arial;
    width: 19%;
    margin-top: 20px;
    outline: none;
    font-size: 20px;
}
.b1 {
    background-color: rgb(19, 88, 167);
    width: 10%;
    margin-top: 10px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 21px;
    cursor: pointer;
    outline: none;
    margin-left: 1%;
}
.b1:hover {
    background-color: rgb(23, 105, 199);
    transform: scale(1.05);
    transition: .3s;
}

.d1:hover {
    transform: scale(1.03);
    transition: .3s;
}

.s1 {
    width: 30%;
    height: 30px;
    font-size: 18px;
    font-family: Arial;
    margin-left: 35%;
}
.span1 {
    color: rgb(0, 153, 255);
    font-family: Arial;

}